.board-container{
    width: 500px;
    /* border: 5px solid white; */
    margin: auto;
}
.board-row{
    display: flex;
    height: 150px;
    /* border: 5px solid white; */
    flex-direction: row;

}
.board-cell{
    height: inherit;
    border: 3px solid rgb(255, 255, 255);
    /* border-radius: 5px; */
    flex: 1;
    cursor: pointer;
    
}
.board-cell:hover{
    background: rgb(199, 199, 199);
}