html,body,#root{
  height:100%;
}
body {
  margin: 0;
  font-family:'Rajdhani',sans-serif;
  background: #eaeaea;
}
div,span,button,input,select{
  font-family:'Rajdhani',sans-serif;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
